@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root{
    --light-blue:rgb(108,190,247);
    --dark-blue:rgb(88,115,238);
    --red:rgb(225,73,39);
    --dark-green:rgb(156,202,83);
    --background:rgb(177,216,96);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color:var(--background);
    font-family:'Luckiest Guy', cursive;
}

#title{
    margin-top:50px;
    color:var(--red);
    font-size:3em;
    border-bottom: 10px solid var(--dark-green);
}
#snake-img{
    width:150px;
}
h2{
    font-size:2em;
    color:var(--red);
}
#directions{
    width:50vw;
    margin: 20px auto;
    font-size:1.5em;
    text-align: left;
    border: 10px solid var(--dark-green);
    padding:40px;
    color:var(--dark-blue)
}
#directions li{
    margin-bottom:10px;
}
#commands{
    text-align:center;
    list-style:none;
}
#play-btn{
    background-color: var(--dark-blue);
    color:var(--light-blue);
    padding:10px 20px;
    border-radius:20px;
    border:none;
    font-weight: bolder;
    font-size:1.5em;
    margin-bottom: 20px;
}
#play-btn:hover{
    background-color: var(--light-blue);
    color:var(--dark-blue);
}
#play-btn:focus{
    text-decoration:none;
}
#play-btn:visited{
    text-decoration: none;
}